header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  header .header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
    header .header__item .title {
      padding-top: 130px;
      font-style: normal;
      font-weight: bold;
      font-size: 78px;
      line-height: 116%;
      color: #ffff;
      letter-spacing: 0.1em; }
    header .header__item .subtitle {
      font-weight: normal;
      font-style: normal;
      font-size: 30px;
      line-height: 137%;
      color: #ffff;
      margin-top: 25px; }
    header .header__item .info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      color: #ffffff;
      margin-top: 30px;
      -webkit-column-gap: 20px;
              column-gap: 20px; }
      header .header__item .info__item {
        margin-top: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 150%;
        background: #1378EF;
        border-radius: 64px;
        padding: 2px 16px; }

@font-face {
  font-family: "Montserrat Alternates";
  src: url(../fonts/MontserratAlternates-Medium.ttf); }
@font-face {
  font-family: "MontserratAlternates-Black";
  src: url(../fonts/MontserratAlternates-Black.ttf); }
body {
  font-family: 'Sansation Light Italic', arial;
  background-color: #1D2026; }
  body .overlay {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    border-left: 1px solid rgba(255, 255, 255, 0.11);
    border-right: 1px solid rgba(255, 255, 255, 0.11);
    height: 100vh;
    position: relative;
    overflow: hidden; }
    body .overlay:after {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      width: 1px;
      background: rgba(255, 255, 255, 0.11);
      right: 33%;
      z-index: -1; }
    body .overlay:before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      width: 1px;
      background: rgba(255, 255, 255, 0.11);
      left: 33%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Montserrat Alternates";
  color: whitesmoke; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem; }

.hamburger {
  display: none; }

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #070707; }

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav-item {
  margin-left: 1rem; }

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: white; }

.nav-link:hover {
  color: #482ff7; }

.brands {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem; }

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7; }

@media only screen and (max-width: 900px) {
  .nav-menu {
    display: block;
    position: fixed;
    left: -100%;
    top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #3c2cc7;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(196, 40, 40, 0.05);
            box-shadow: 0 10px 27px rgba(196, 40, 40, 0.05); }

  .nav-menu.active {
    left: 0%; }

  .nav-item {
    margin: 2.5rem 0; }

  .hamburger {
    display: block;
    cursor: pointer; }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0; }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg); }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg); } }
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  /* Scroll Snap */
  scroll-snap-align: center; }

/*# sourceMappingURL=style.css.map */